@charset "UTF-8";
/* line 1, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_main.scss */
body {
  font-family: 'Noto Serif', serif;
  background-image: linear-gradient(#af3d39, white); }

/* line 5, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_main.scss */
span {
  grid-area: span; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_main.scss */
main {
  grid-area: main;
  background-color: #d79f9e; }
  /* line 14, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_main.scss */
  main div div div:hover {
    transform: scale(1.7); }
  /* line 19, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_main.scss */
  main div ul li {
    margin: 20px; }

/* line 26, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_main.scss */
main section {
  background-color: #af3d39; }

/* line 29, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_main.scss */
.fondo {
  width: 500%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.pexels.com/photos/681361/pexels-photo-681361.jpeg?cs=srgb&dl=pexels-aleksejs-bergmanis-681361.jpg&fm=jpg); }

/* line 36, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_main.scss */
.linea {
  border: #f2bd6a solid 3px;
  width: 1fr; }

/* line 40, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_main.scss */
.borde {
  border: black solid 2px; }

/* line 43, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_main.scss */
#cuerpo {
  display: grid;
  grid-template-areas: "header header header" "span span span" ". main ." "footer footer footer";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 110px 150px auto 140px; }

/* line 1, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_nav.scss */
header {
  position: relative;
  background-color: #af3d39;
  grid-area: header; }

/* line 6, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_nav.scss */
nav {
  position: absolute;
  right: 10px;
  top: 40px; }

/* line 12, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_nav.scss */
nav ul {
  list-style-type: none;
  display: flex; }
  /* line 15, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_nav.scss */
  nav ul ul {
    display: none; }
    /* line 17, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_nav.scss */
    nav ul ul a {
      padding: 10px;
      text-align: left; }

/* line 23, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_nav.scss */
nav li {
  flex-grow: 1;
  flex-shrink: 1; }

/* line 27, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_nav.scss */
nav a {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f2bd6a;
  background-color: #af3d39; }

/* line 37, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_nav.scss */
nav a:hover {
  background-color: #8c312e; }

/* line 41, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_nav.scss */
nav ul li:hover > ul {
  display: block; }

/* line 1, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_padding.scss */
* {
  margin: 0px;
  padding: 0px; }

/* line 5, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_padding.scss */
.padding {
  padding: 20px; }

/* FOTOS DE VENTA */
/* line 2, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_venta.scss */
.padreVenta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_venta.scss */
.venta-imagen-2-1 {
  background-image: url("../imagenes/imagen-2-1.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_venta.scss */
.venta-imagen-2-2 {
  background-image: url("../imagenes/imagen-2-2.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_venta.scss */
.venta-imagen-2-3 {
  background-image: url("../imagenes/imagen-2-3.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_venta.scss */
.venta-imagen-2-4 {
  background-image: url("../imagenes/imagen-2-4.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_venta.scss */
.venta-imagen-2-5 {
  background-image: url("../imagenes/imagen-2-5.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_venta.scss */
.venta-imagen-2-6 {
  background-image: url("../imagenes/imagen-2-6.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_venta.scss */
.venta-imagen-2-7 {
  background-image: url("../imagenes/imagen-2-7.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_venta.scss */
.venta-imagen-2-8 {
  background-image: url("../imagenes/imagen-2-8.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_venta.scss */
.venta-imagen-2-9 {
  background-image: url("../imagenes/imagen-2-9.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/*FOTOS DE ALQUILER*/
/* line 2, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_alquiler.scss */
.padreAlquiler {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_alquiler.scss */
.alquiler-imagen-1-1 {
  background-image: url("../imagenes/imagen-1-1.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_alquiler.scss */
.alquiler-imagen-1-2 {
  background-image: url("../imagenes/imagen-1-2.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_alquiler.scss */
.alquiler-imagen-1-3 {
  background-image: url("../imagenes/imagen-1-3.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_alquiler.scss */
.alquiler-imagen-1-4 {
  background-image: url("../imagenes/imagen-1-4.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_alquiler.scss */
.alquiler-imagen-1-5 {
  background-image: url("../imagenes/imagen-1-5.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_alquiler.scss */
.alquiler-imagen-1-6 {
  background-image: url("../imagenes/imagen-1-6.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_alquiler.scss */
.alquiler-imagen-1-7 {
  background-image: url("../imagenes/imagen-1-7.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_alquiler.scss */
.alquiler-imagen-1-8 {
  background-image: url("../imagenes/imagen-1-8.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_alquiler.scss */
.alquiler-imagen-1-9 {
  background-image: url("../imagenes/imagen-1-9.jpg");
  width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center; }

/* line 1, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_titulo.scss */
h2 {
  color: #f2bd6a; }

/* line 4, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_titulo.scss */
h3 {
  color: #f2bd6a; }

/* line 7, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_titulo.scss */
.tituloLogo {
  font-family: 'Satisfy', cursive;
  font-size: 55px; }

/* line 11, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_titulo.scss */
.titulo {
  font-family: 'Satisfy', cursive; }

/* line 14, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_titulo.scss */
#titulo {
  position: absolute;
  padding-left: 50px;
  padding-top: 0px;
  color: #f2bd6a; }

/* line 1, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_footer.scss */
footer {
  grid-area: footer;
  justify-content: space-between; }
  /* line 4, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_footer.scss */
  footer div {
    width: 100px;
    text-align: center;
    flex-grow: 1;
    width: 300px; }
    /* line 9, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_footer.scss */
    footer div p {
      font-size: 10px; }

/* line 14, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_footer.scss */
.fondoFooter {
  background-color: white; }

/* line 17, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_footer.scss */
#tituloFooter {
  position: absolute;
  padding-left: 50px;
  padding-top: 0px;
  color: #dd4f43; }

/* line 23, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_footer.scss */
.padreFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100px; }

@media screen and (max-width: 1040px) {
  /* line 3, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  nav a {
    padding: 10px;
    font-size: 15px; } }

@media screen and (max-width: 902px) {
  /* line 11, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-1 {
    background-image: url("../imagenes/imagen-2-1.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 11, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-2 {
    background-image: url("../imagenes/imagen-2-2.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 11, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-3 {
    background-image: url("../imagenes/imagen-2-3.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 11, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-4 {
    background-image: url("../imagenes/imagen-2-4.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 11, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-5 {
    background-image: url("../imagenes/imagen-2-5.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 11, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-6 {
    background-image: url("../imagenes/imagen-2-6.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 11, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-7 {
    background-image: url("../imagenes/imagen-2-7.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 11, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-8 {
    background-image: url("../imagenes/imagen-2-8.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 11, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-9 {
    background-image: url("../imagenes/imagen-2-9.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 20, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-1 {
    background-image: url("../imagenes/imagen-1-1.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 20, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-2 {
    background-image: url("../imagenes/imagen-1-2.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 20, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-3 {
    background-image: url("../imagenes/imagen-1-3.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 20, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-4 {
    background-image: url("../imagenes/imagen-1-4.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 20, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-5 {
    background-image: url("../imagenes/imagen-1-5.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 20, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-6 {
    background-image: url("../imagenes/imagen-1-6.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 20, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-7 {
    background-image: url("../imagenes/imagen-1-7.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 20, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-8 {
    background-image: url("../imagenes/imagen-1-8.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 20, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-9 {
    background-image: url("../imagenes/imagen-1-9.jpg");
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 29, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  footer p {
    visibility: hidden; } }

@media screen and (max-width: 765px) {
  /* line 36, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-1 {
    background-image: url("../imagenes/imagen-2-1.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 36, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-2 {
    background-image: url("../imagenes/imagen-2-2.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 36, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-3 {
    background-image: url("../imagenes/imagen-2-3.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 36, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-4 {
    background-image: url("../imagenes/imagen-2-4.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 36, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-5 {
    background-image: url("../imagenes/imagen-2-5.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 36, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-6 {
    background-image: url("../imagenes/imagen-2-6.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 36, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-7 {
    background-image: url("../imagenes/imagen-2-7.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 36, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-8 {
    background-image: url("../imagenes/imagen-2-8.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 36, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-9 {
    background-image: url("../imagenes/imagen-2-9.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 45, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-1 {
    background-image: url("../imagenes/imagen-1-1.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 45, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-2 {
    background-image: url("../imagenes/imagen-1-2.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 45, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-3 {
    background-image: url("../imagenes/imagen-1-3.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 45, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-4 {
    background-image: url("../imagenes/imagen-1-4.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 45, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-5 {
    background-image: url("../imagenes/imagen-1-5.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 45, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-6 {
    background-image: url("../imagenes/imagen-1-6.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 45, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-7 {
    background-image: url("../imagenes/imagen-1-7.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 45, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-8 {
    background-image: url("../imagenes/imagen-1-8.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 45, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-9 {
    background-image: url("../imagenes/imagen-1-9.jpg");
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center; }
  /* line 53, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  main {
    grid-area: main;
    background-color: #d79f9e; }
    /* line 58, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
    main div div div:hover {
      transform: scale(1.4); }
  /* line 64, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  #cuerpo {
    display: grid;
    grid-template-areas: "header header header" "span span span" ". main ." "footer footer footer";
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 180px 1px auto 140px; }
  /* line 74, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .fondo {
    visibility: hidden;
    width: 500%;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.pexels.com/photos/681361/pexels-photo-681361.jpeg?cs=srgb&dl=pexels-aleksejs-bergmanis-681361.jpg&fm=jpg); }
  /* line 82, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  nav {
    position: absolute;
    right: 10px;
    top: 120px; } }

@media screen and (max-width: 555px) {
  /* line 90, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  nav a {
    padding: 5px;
    font-size: 10px; }
  /* line 96, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-1 {
    background-image: url("../imagenes/imagen-2-1.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 96, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-2 {
    background-image: url("../imagenes/imagen-2-2.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 96, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-3 {
    background-image: url("../imagenes/imagen-2-3.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 96, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-4 {
    background-image: url("../imagenes/imagen-2-4.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 96, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-5 {
    background-image: url("../imagenes/imagen-2-5.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 96, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-6 {
    background-image: url("../imagenes/imagen-2-6.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 96, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-7 {
    background-image: url("../imagenes/imagen-2-7.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 96, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-8 {
    background-image: url("../imagenes/imagen-2-8.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 96, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .venta-imagen-2-9 {
    background-image: url("../imagenes/imagen-2-9.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 105, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-1 {
    background-image: url("../imagenes/imagen-1-1.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 105, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-2 {
    background-image: url("../imagenes/imagen-1-2.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 105, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-3 {
    background-image: url("../imagenes/imagen-1-3.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 105, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-4 {
    background-image: url("../imagenes/imagen-1-4.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 105, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-5 {
    background-image: url("../imagenes/imagen-1-5.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 105, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-6 {
    background-image: url("../imagenes/imagen-1-6.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 105, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-7 {
    background-image: url("../imagenes/imagen-1-7.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 105, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-8 {
    background-image: url("../imagenes/imagen-1-8.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; }
  /* line 105, ../../CURSO DESAROLLO WEB/PROYECTO/julián-kim-3/sass/_media.scss */
  .alquiler-imagen-1-9 {
    background-image: url("../imagenes/imagen-1-9.jpg");
    width: 290px;
    height: 170px;
    background-size: cover;
    background-position: center; } }

/*# sourceMappingURL=style.css.map */