@media screen and (max-width: 1040px){
    nav{
        a {
            padding: 10px;
            font-size: 15px;
        }
    }
}
@media screen and (max-width: 902px){
    @each $venta in imagen-2-1, imagen-2-2, imagen-2-3, imagen-2-4, imagen-2-5, imagen-2-6, imagen-2-7, imagen-2-8,imagen-2-9 {
        .venta-#{$venta} { 
            background-image: url('../imagenes/#{$venta}.jpg');
            width: 350px;
            height: 200px;
            background-size: cover;
            background-position: center;
        }
     }
     @each $alquiler in imagen-1-1, imagen-1-2, imagen-1-3, imagen-1-4, imagen-1-5, imagen-1-6, imagen-1-7, imagen-1-8,imagen-1-9 {
        .alquiler-#{$alquiler} { 
            background-image: url('../imagenes/#{$alquiler}.jpg');
            width: 350px;
            height: 200px;
            background-size: cover;
            background-position: center;
        }
     }
     footer {
         p {
             visibility: hidden;
         }
     }
}
@media screen and (max-width: 765px){
    @each $venta in imagen-2-1, imagen-2-2, imagen-2-3, imagen-2-4, imagen-2-5, imagen-2-6, imagen-2-7, imagen-2-8,imagen-2-9 {
        .venta-#{$venta} { 
            background-image: url('../imagenes/#{$venta}.jpg');
            width: 500px;
            height: 300px;
            background-size: cover;
            background-position: center;
        }
     }
     @each $alquiler in imagen-1-1, imagen-1-2, imagen-1-3, imagen-1-4, imagen-1-5, imagen-1-6, imagen-1-7, imagen-1-8,imagen-1-9 {
        .alquiler-#{$alquiler} { 
            background-image: url('../imagenes/#{$alquiler}.jpg');
            width: 500px;
            height: 300px;
            background-size: cover;
            background-position: center;
        }
     }
     main{
        grid-area: main;
        background-color: #d79f9e;
        div {
            div {
                div:hover{
                    transform: scale(1.4); 
                }
            }
        }
    }
    #cuerpo{
        display: grid;
        grid-template-areas: 
        "header header header"
        "span span span"
        ". main ."
        "footer footer footer";
        grid-template-columns: 1% 98% 1%;
        grid-template-rows: 180px 1px auto 140px;
    }
    .fondo{
        visibility: hidden;
        width: 500%;
        height: 150px;
        background-size: cover;
        background-position: center;
        background-image: url(https://images.pexels.com/photos/681361/pexels-photo-681361.jpeg?cs=srgb&dl=pexels-aleksejs-bergmanis-681361.jpg&fm=jpg);
    }
    nav{
        position: absolute;
        right: 10px;
        top: 120px;
    } 
}
@media screen and (max-width: 555px){
    nav{
        a {
            padding: 5px;
            font-size: 10px;
        }
    }
    @each $venta in imagen-2-1, imagen-2-2, imagen-2-3, imagen-2-4, imagen-2-5, imagen-2-6, imagen-2-7, imagen-2-8,imagen-2-9 {
        .venta-#{$venta} { 
            background-image: url('../imagenes/#{$venta}.jpg');
            width: 290px;
            height: 170px;
            background-size: cover;
            background-position: center;
        }
     }
     @each $alquiler in imagen-1-1, imagen-1-2, imagen-1-3, imagen-1-4, imagen-1-5, imagen-1-6, imagen-1-7, imagen-1-8,imagen-1-9 {
        .alquiler-#{$alquiler} { 
            background-image: url('../imagenes/#{$alquiler}.jpg');
            width: 290px;
            height: 170px;
            background-size: cover;
            background-position: center;
        }
     }
}

