h2{
    color: $color-secundario;
}
h3{
    color: $color-secundario;
}
.tituloLogo{
    font-family: 'Satisfy', cursive;
    font-size: 55px;
}
.titulo{
    font-family: 'Satisfy', cursive;
}
#titulo{
    position: absolute;
    padding-left: 50px;
    padding-top: 0px;
    color: $color-secundario;
}